body
{
	font-family: Times New Roman;
	font-size: 22px;
	font-weight: bold; 
	text-align: center;
}

div
{	
	width:375px;
}

#tytulowy
{
	text-align: center;
	margin: 20px auto;
}

#strona
{
	width:1540px;
	height:800px;
	margin: 20px auto;
}

.wiosna
{
background-color: #98ec94;	
}

.lato
{
background-color: #fffce4;	
}

.jesien
{
background-color: #ffa404;	
}

.zima
{
background-color: #b0dce4;	
}
.pora_roku
{
	float: left;
	margin:0px 10px 10px 0px;
}

.nazwa_pory
{
	margin:0px 10px 10px 0px;
	height:68px;
	line-height: 68px;
}

.opis_pory
{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	font-size:20px;
	height:90px;
	margin:10px 0px 0px 0px;
}

@media (max-width: 1450px){
.pora_roku
{
	float: none;
	margin:0px 10px 10px 0px;
}
#strona{
width:375px;
height:1540px;
}
}
